.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
  
  
}
.header__logo{
  margin-top: 34px;
  margin-bottom: 90px;
  width: 270px;
  /*height: 70px;*/

}
.header__title{
  margin:0;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  width: 793px;
 /* height: 200px;*/


}
.header__subtitle{
  max-width: 720px;
  margin-bottom: 64px;
  margin-top: 32px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  
}

.header__image{
  width: 100%;
  max-width: 984px;
  height: auto;
  object-fit: cover;
  

}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 72px;
    max-width: 768px;
  }
  .header__content {
    
    max-width: 768px;
  }
}


@media screen and (max-width: 549px) {
  .header__content {
    padding: 0;
    max-width: 549px;
    width: 100%

  }
  .header__title {
    font-size: 72px;
    max-width: 549px;
    width: 100%
  }
}

@media screen and (max-width: 470px) {
  .header__content {
    padding: 0;
    max-width: 470px;
    width: 100%

  }
  .header__title {
    font-size: 72px;
    max-width: 470px;
    width: 100%
  }
}


@media screen and (max-width: 349px) {
  .header__content {
    padding: 0;
    max-width: 349px;
    width: 100%

  }
  .header__title {
    font-size: 72px;
    max-width: 349px;
    width: 100%
  }
}


@media screen and (max-width: 320px) {
  .header__content {
    padding: 0;
    max-width: 320px;

  }
  .header__logo {
    max-width: 200px;
    max-height: 51px;
    margin-bottom: 50px;
  }
  .header__title {
    font-size: 40px;
    max-height: 88px;
    line-height: 1.1;
    max-width: 288px;
    margin-left: 16px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 1.25;
    max-width: 320px;
  }
}